.faq {
    margin-bottom: 51px;

    @include mq(576) {
        margin-bottom: 72px;
    }
}

.faq__title, .faq__paragraph {
    text-align: center;
}

.faq__title {
    margin-bottom: 32px;

    @include mq(576) {
        font-size: 24px;
    }
}

.faq__paragraph {
    max-width: 1055px;
    width: 100%;
    margin: auto;
    margin-bottom: 41px;
    font-weight: 500;
}

.faq__boxes {
    max-width: 886px;
    width: 100%;
    margin: auto;
}

.box {
    position: relative;
    background-color: $white-blue;
    padding: 37px 0 37px 32px;
    border-radius: 20px;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 20px
    }

    @include mq(576) {
        padding: 28px 20px 28px 24px;
    }
}

.box.active .box__content {
    height: auto;
    padding-top: 20px;
}

.box.active .box__label::before {
    content: '-';
}

.box__content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
}

.box__label {
    position: relative;
    font-size: 18px;
    font-weight: 600;

    &::before {
        content: '+';
        position: absolute;
        top: -6px;
        right: 22px;
        font-size: 28px;
        line-height: 1;

        @include mq(576) {
            right: -50px;
        }
    }

    @include mq(576) {
        font-size: 16px;
        max-width: 248px;
        width: 100%;
        padding-right: 20px;
    }
}

.box__paragraph {
    font-size: 14px;
    max-width: 740px;
    width: 100%;
}