$white: #fff;
$black: #000;
$box-shadow: #f4f4f4;
$white-grey: #f9f9fb;
$light-grey: #eeeef0;
$medium-grey: #7f7f7f;
$article-grey: #f1f1f3;
$border-grey: #e2e2e2;
$exit-grey: #f3f3f3;
$exit-hover: #c4c4c4;
$footer-social-grey: rgba(242, 242, 242, 0.1);
$footer-grey: #F2F2F2;
$social-grey: #ebe9fb;
$white-blue: #F0EEFF;
$main-purple: #6854FC;
$purple-hover: #4234AB;
$light-purple: #BED3FF;
$medium-purple: #2555BB;
$yellow: #FFE600;
$light-yellow: #FFEEA6;
$green-yellow: #B89500;
$navy-blue: #0A142F;
$light-blue: #AEE2FF;
$dark-pink: #B85A60;
$light-pink: #FCEDEE;
$light-green: #DEFEEA;
$dark-green: #0F642F;